<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Here Are Some Nice People</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Edit</th>
        </tr>
        <%for(let res of result){%>
            <tr>
                <td><%=res.id%></td>
                <td><%=res.username%></td>
                <td><%=res.email%></td>
                <td>
                    <form method="GET" action="http://localhost:8080/users/<%=res.id%>/edit">
                        <button>edit</button>
                    </form>
                </td>
            </tr>
        <%}%>
    </table>
</body>
</html>